* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  cursor: pointer;
  transition-duration: 0.5s;
}

a,
button {
  cursor: pointer;
}

img {
  max-width: 100%;
  cursor: pointer;
  transition-duration: 0.7s;
}

img:hover {
  transform: scale(0.9);
}

.red {
  color: #c42329;
}

.dred {
  color: #ad1417;
}

.grey {
  color: #9c9c9c;
}

.dgrey {
  color: #4f4f51;
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

.normal {
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.dark {
  font-weight: 700;
}

.ctr {
  text-align: center;
  display: block;
}

.section-header {
  border-left: 5px solid #4f4f51;
  margin-left: 5vw;
  padding-left: 2vw;
}

.s-header {
  font-weight: 700;
  font-size: 6vh;
  text-transform: uppercase;
}

.s-sub {
  font-style: italic;
}

/* =========NAVBAR========== */

.navbar-brand img {
  height: 2.7rem;
}

.navbar-dark .navbar-nav .nav-item .nav-link {
  transition-duration: 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  #Careers {
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    color: #ffffff;
    background-color: #ad1417;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    border: none;
    transition-duration: 0.5s;
    box-sizing: content-box;
  }

  #Careers a {
    padding: 0;
    margin: 0;
  }

  #Careers:hover {
    background-color: #59101f;
    text-decoration: none;
  }

  .navbar-nav li {
    padding: 0 2rem;
  }

  .navbar-brand img {
    height: 3.5rem;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    background-color: #000000;
  }
}

.bg-dark {
  background-color: #000 !important;
}

#contact-btn {
  background-color: #c42328c3;
  padding: 10px 20px;
  margin-top: 12px;
  color: #fff;
  border: 0;
  border-radius: 20px;
  transition-duration: 0.5s;
}

#contact-btn:hover {
  background-color: #c423284c;
}



/* Hero */
#hero {
  height: 65vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to right top, #ad1417, #840e20, #59101f, #300f17, #000000);
}

#hero h1 {
  color: white;
  font-weight: 700;
  font-size: 10vh;
}

#hero h3 {
  color: rgba(255, 255, 255, 0.764);
}

#hero button {
  padding: 15px 30px;
  margin-top: 12px;
  background-color: #000;
  color: #fff;
  border: 0;
  border-radius: 20px;
  transition-duration: 0.5s;
}

#hero button:hover {
  background-color: rgba(255, 255, 255, 0.722);
  color: #000;
}

/* Portfolio */
#counter {
  margin-top: 10vh;
}

.portfolio {
  margin: 10vh 0;
}

.counter{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 0 10px;
}
.counter .counter-icon{
  color: #fff;
  background: linear-gradient(to right,  #c42329 50%, #4f4f51 50%);
  font-size: 38px;
  line-height: 88px;
  height: 100px;
  width: 120px;
  margin: 0 auto 5px;
  clip-path: polygon(0 0, 50% 12%, 100% 0, 50% 100%);
}
.counter .counter-value{
  color: #4f4f51;
  font-size: 28px;
  font-weight: 700;
  display: block;
}
.counter h3{
  color: #4f4f51;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0;
}

@media screen and (max-width:990px){
  .counter{ margin-bottom: 40px; }
}

/* Banner */

#banner {
  background-color: #9c9c9c;
  padding: 15vh 0;
}

.banner-text {
  padding: 0 10vh;
}

#banner h1 {
  font-weight: 700;
  font-size: 11vh;
  text-transform: uppercase;
}

#banner h4 {
  font-size: 3.5vh;
  text-align: justify;
}

/* Testimonials */
#testimonials {
  background-image: linear-gradient(to right top, #ad1417, #840e20, #59101f, #300f17, #000000);
  padding: 10vh 0;
}

#testimonials .section-header {
  border-left: 5px solid #9c9c9c
  ;
}

.callout-text {
  text-align: center;
  max-width: 1140px;
  margin: 20px auto;
}
.testimonial-carousel {
  overflow: hidden;
  height: 500px;
  position: relative;
  padding: 20px 0px;
  display: flex;
}
.testimonial-carousel .icon-container {
  position: relative;
  padding: 0 5px;
  max-width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
@media (min-width: 768px) {
  .testimonial-carousel .icon-container {
    max-width: 50px;
    padding: 0 10px;
 }
}
.testimonial-carousel .icon-container span.lnr {
  color: #dadada;
  font-size: 1.6em;
  cursor: pointer;
  transition: color 0.3s linear;
}
@media (min-width: 768px) {
  .testimonial-carousel .icon-container span.lnr {
    font-size: 2.6em;
 }
}
.testimonial-carousel .icon-container span.lnr:hover {
  color: #fff;
}
.testimonial-carousel p {
  font-size: 1em;
}
@media (min-width: 768px) {
  .testimonial-carousel p {
    font-size: 1.4em;
 }
}
.testimonial-items {
  position: relative;
  flex: 1;
  overflow: hidden;
  color: #9c9c9c;
  margin: 0 4vw;
}
.testimonial-item {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testimonial-item p.testimonial-author {
  font-weight: bold;
  text-align: right;
}
.testimonial-item.first {
  left: 0;
}
.testimonial-item.second {
  left: 100%;
}
.testimonial-item.third {
  left: 200%;
}


#testimonials video {
  -webkit-box-shadow: 0 0 35px 0 #000;
  box-shadow: 0 0 35px 0 #000;
  margin: 0 auto;
  display: block;
}

/* Get In Touch */

#getInTouch {
  margin: 10vh 0;
}

.get-form {
  text-align: center;
  padding: 5vh 0;
}

@media only screen and (max-width: 768px){
  #getInTouch {
    padding : 8vh 0;
  }
}

#getInTouch input,
#getInTouch textarea {
  display: block;
  width: 80%;
  padding: 1vh 1vh;
  margin: 2.5vh auto;
  background-color: #f1f1f1;
  border: none;
  border-radius: 3px;
}

#getInTouch button {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 3px;
  background-color: #ad1417;
  color: white;
  transition-duration: 0.5s;
}

#getInTouch button:hover {
  background-color: black;
}

/* Footer */
.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#000;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  color: white;
  opacity: 1;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:1;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}